.Orange {
	border: 1px solid orange;
}
.Red {
	border: 1px solid red;
}
.Black {
	border:1px solid black;
}
.col-md-4 {
	padding: 0;
}
.navbar-form,
.form-group {
	width: 90%;
}



#input {
	width: 100%;
}
p {
	margin-bottom: 0;
	padding: 0 1em 1em 1em;
}
h2 {
	margin:0;
	padding: .8em .5em .5em .5em;
}
.active {
	border-width: 5px;
	background-color: grey;
}