body {
	padding-top: 100px;
}

p {
	margin-bottom: 0;
	padding: 0 1em 1em 1em;
}

h2 {
	margin:0;
	padding: .5em 0 .5em 0;
	text-align: center;
}

.row,
.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.col-md-4 {
	padding: 0;
	margin: 1em;
	width: 31%;
}

.navbar-form,
.form-group {
	width: 92%;
}

.navbar {
	padding: 2em 5em 0 0;
	background-color: #BED8D4;
}

#input {
	width: 100%;
}

.grey {
	border-width: 2px 8px !important;
	background-color: lightgrey;
}
